header{

  position: relative;
  border-top:none;
  margin-bottom:15px;

  .brand {

    img{
      position: absolute;
      top:10px;
      height: auto;
      width: 140px;
      margin:0;
      margin-left:-55px;
      z-index: 600;

      @media (min-width: $screen-md-min) {
        margin:0;
        top:15px;
        height: 45px;
        width:auto;
        left:15px;
      }
    }
  }
}
