.good-meadow-carousel{
  margin-top: -15px;
  width:100%;
  overflow: hidden;

  max-height: 350px;

  @media (min-width: $screen-md-min) {
    max-height: 400px;
  }

  @media (min-width: $screen-lg-min) {
    max-height: 450px;    
  }  

  > div {

    img {
      width:100%;
      height:auto;
    }
  }
}

.hero {
  margin-top:-15px;
  margin-bottom: 30px;
}

.hero.mini-hero{
    margin-bottom: 50px;
    padding: 50px 0;
    min-height: 300px;
}
