.product-list{
  //padding:0 0 100px;
}

.product-card{

  .product-img{
    margin:0;
    overflow: hidden;

    @media (min-width: $screen-md-min) {
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .product-section{
    h3 {
    }
  }

  .product-buttons{
    text-align: left;
    overflow: visible;

     a {
       margin:0;
       font-size: 18px;
       width:auto;
       float:none;
       display: inline;
       border-radius: 6px;
       padding: 10px 25px;
     }
  }

}
