.home-content {

  .container-fluid{
    z-index: 100;

    h1, h2, h3{
      color: #c1311a;
      margin:20px 0;
    }
  }

  position: relative;
  padding: 50px 0 100px;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  color: #794400;
}
